* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(169, 169, 169, 0.8);
  border-bottom: 3px solid black;
  height: 60px;
  font-size: 0;
  display: flex;
}

header div {
  flex-basis: 40px;
  content: '';
  width: 40px;
  height: 40px;
  margin-top: 10px;
  background-image: url(icon_header.png);
  background-size: cover;
  display: inline-block;
}

header p {
  flex-basis: 200px;
  font-size: 25px;
  font-weight: bold;
  line-height: 60px;
  display: inline-block;
}

.wrapper {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: lightskyblue;
  z-index: 10;
}

.wrapper .close_btn {
  font-size: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: red;
  border: 1px solid red;
}

.wrapper .close_btn:hover {
  color: rgba(255, 0, 0, 0.5);
}

.display-space {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(universe.jpg);
  background-size: cover;
  overflow: hidden;
}

.display-space .input-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.display-space .no-image {
  left: 50%;
  position: absolute;
  top: 50%;
}

.display-space .no-image .icon-image {
  height: 50px;
  transform: translate(-50%, -60%);
}

.display-space .no-image h1 {
  font-size: 50px;
  color: gray;
  transform: translate(-50%, -50%);
}

.display-space:hover {
  border: 1px solid orange;
}

.display-space .horizontal {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  display: none;
}

.display-space .vertical {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: white;
  display: none;
}

.display-space .menu_icon {
  background-color: darkgray;
  color: black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid blue;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 275px;
  z-index: 10;
}

.display-space .smaller, .display-space .bigger, .display-space .reset {
  background-color: lightskyblue;
  color: blue;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid blue;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.display-space .bigger {
  bottom: 75px;
}

.display-space .reset {
  bottom: 120px;
}

.display-space .droppin {
  position: absolute;
  top: 500px;
  left: 500px;
  width: 50px;
  height: 50px;
  background-image: url(droppin.png);
  content: "";
  background-size: contain;
  box-sizing: border-box;
  display: none;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 20;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 200px;
  background-image: url(loading2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
  z-index: 20;
}

.balloon4 {
  position: relative;
  padding: 0.5em;
  margin: 10px;
  top: 10px;
  left: 10px;
  width: 250px;
  background: #a6d3c8;
  color: blue;
}

.balloon4:hover {
  left: 20px;
  cursor: pointer;
  cursor: hand;
}

.balloon4::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #959e9b;
}
